# MacOS thing
**/.DS_Store

# Rust directories
**/target
**/scripts/tmp
**/node_modules

# Don't check in Cargo.lock because this is a library
# Commenting this line because there seems to be an issue with the snow dependency
# Cargo.lock
